@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  margin: 0;
  padding: 0;
}

#hero {
  /* display: none; */
  opacity: 0;
  transition: opacity 2s;
}

details:hover #hero {
  display: block;
  cursor: pointer;
}

#hero:hover {
  opacity: 1;
}

.list::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
